@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.contenedor_general {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}


.tag {
  display: inline-flex;
  align-items: center;
  background-color: #ff33a6; /* Color rosa fuerte */
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.tag .close {
  margin-left: 8px;
  font-weight: bold;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

}

.contenedor_interno {
  padding: 1.5rem; /* p-6 */
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); /* shadow-md */
  margin-bottom: 2.5rem; /* mb-10 */
  background-color: #edf2f7; /* bg-gray-200 */
}

@media (prefers-color-scheme: dark) {
  .contenedor_interno {
    background-color: #1c1c1c; /* bg-gray-700 */
  }
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
